body {
  background-color: whitesmoke;
}

p {
  /* text-indent: 10px; */
}

/* li {
} */

h1 {
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  margin-top: 2em;
  

  
}

h2{
  display: block; /* Отображать как строчный элемент */

  font-size: 1.5em;
  border-bottom: 1px solid lightgray;
  /* text-indent: 10px; */
  border-left: 10px;



}

header {
  background-color: rgb(235, 235, 235);
}

.centered {
  margin: auto;
  width: 60%;
  background-color: white;
  padding-top: 1px;
  
}

.fig {
  float: left;
  margin: 5px 25px 5px 5px;
}

main {
  padding: 0px 10px;
}